- meta :title => "Invite a friend to Smileku!", :description => "Writing is better with friends."
%section.invite.container
  .row
    %form.invite
    = form_tag action: :create, method: :post do
      %header.col-md-7
        %h1 If you like what we're doing, help spread the word!
        %p We're a community of writers with a mission to helpeach other grow and achieve our writing goals.  Please give a shout out via social, or send a writer a friendly email.
        %hr
      .col-md-7
        .center
          = render 'layouts/social_buttons', twitter_message: "I'm a writer, and this writing website, Smileku.com, rocks!"
        %fieldset.form-group
          = label_tag :name, "Friend's Name"
          = text_field_tag :name, "", class: "form-control"
          = label_tag :email, "Friend's Email Address"
          = text_field_tag :email, "", class: "form-control"
          = label_tag :message, "Invitation Message"
          = text_area_tag :message, "I'm having a blast writing collaborative stories on Smileku and think you will too!", class: "form-control", rows: 6
        %fieldset.action
          = submit_tag "Send Invitation", class: 'btn'