- meta :title => "#{@story.title} - Ku Number #{@ku.number_in_story}", :description => "#{@ku.user.username}'s addition to #{@story.title}. #{@story.description}"
%section.container
	.row
		.span5
			.row.span4
				=image_tag(@story.large_cover)
			.row.span4
				%h2= @story.title
				%p.bold= link_to "<< Back to full story", story_path(@story)
				%br
				= render 'social_buttons'
		.span7
			.row
				%h3
					No. #{@ku.number_in_story} by #{link_to @ku.author_name, user_path(@ku.user)}
					- if current_user.present? && current_user.owns(@ku)
						=link_to 'Edit', edit_ku_path(@ku), class: 'btn btn-mini'
			.row
				.well
					.ku_body= @ku.filter(:body).html_safe
			.row
				.span3.reverse-margin
					=link_to "up", vote_ku_path(@ku, value: true), method: :post, class: "btn btn-large vote-block-up"
					=link_to "down", vote_ku_path(@ku, value: false), method: :post, class: "btn btn-large vote-block-down"
					%h4= "Score: #{@ku.vote_count}"
				.span4
					= render "navigation"
			%br
			.row
				= render "comments/form"
				- @comments.each do |c|
					%hr.row
					%p= c.filter(:body).html_safe
					%p.pull-right= "#{time_ago_in_words(c.created_at)} ago by #{link_to c.user.username, user_path(c.user)}".html_safe