%section.account.container
  .row
    .span6.offset1
      %header
        %h1 Update Email Info
      %br
      %form.form-horizontal
        = bootstrap_form_for @user do |f|
          = f.email_field :email
          = f.password_field :password
          .controls
            = f.submit "Update", class: 'btn'
            = link_to "Cancel", user_path(@user)