%h2= "#{@user.username} is followed by #{@user.followers.count} people"
%br
- @user.followers.each do |u|
	.row-fluid
		.span1.offset1
			%h5= link_to image_tag("#{u.photo.preview}"), url_for(u)
		.span10.row10
			%h2= link_to u.username, url_for(u)
	%hr.short-hr