%h2= "#{@user.username} is following #{@user.following.count} people"
%br
- @user.following.each do |u|
	.row
		.col-md-1.col-md-offset-1
			%h5= link_to image_tag("#{u.photo.preview}", class: "story_image"), url_for(u)
		.col-md-6.row10
			%h2= link_to u.username, url_for(u)