<div class="container-narrow">
  <div class="row-fluid pagination-centered">
    <h4>The secret of getting ahead is getting started.</h4>
      <small>- Mark Twain</small>
    <hr>
    <h2>Create your account</h2>
      <br>
  </div>
  <div class="offset4">
    <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :username, :placeholder => "Username" %>
      <%= f.text_field :email, :placeholder => "Email Address" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Create Account", :class => "btn" %>
    <% end %>
  </div>
</div>