%section.sign_in.container
  .row
    .span10.offset1
      %h1 Create an account
      = bootstrap_form_for @user do |f|
        = f.text_field :username
        = f.text_field :email
        = f.password_field :password
        = f.password_field :password_confirmation
        = f.submit "Create Account", :class => "btn"
      =link_to "Already have an account?", login_path