- meta :title => "#{@user.username}'s Smileku Profile", :description => "#{@user.bio}."
.container
	.row-fluid
		.span8
			.row-fluid
				.span4
					= image_tag @user.photo.normal
				.span8
					%h1 
						= @user.username
						= render 'follow_form'
						- if current_user.present? && current_user.id == @user.id
							=link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-mini'
					%h5= @user.location
					%hr
					%p.italic= @user.bio
			%hr
			%h3 Recent Kus
			.row-fluid
				.span10.offset1
					- @kus.each do |k|
						.row.row10
							.span2
								=link_to "#{image_tag k.story.large_cover.preview}".html_safe, ku_path(k)
							.span10
								%h5= "#{link_to k.story.title, ku_path(k)} Ku ##{k.number_in_story}".html_safe
								%p= "#{k.comments.count} Comments | #{k.vote_count} Votes"
		.span4
			%h4 Activity
			.row-fluid.row10
				.span6.stats-box
					%h2= @user.stories.count
					%h4 stories
				.span6.stats-box
					%h2= @user.kus.count
					%h4 kus
			.row-fluid
				.span6.stats-box
					%h2= @user.is_followed.count
					%h4 followers
				.span6.stats-box
					%h2= @user.is_follower.count
					%h4 following
			%hr
			= render 'followers_sidebar'