- meta :title => "#{@user.username}'s Smileku Profile", :description => "#{@user.bio}."
.container
	.row
		.col-md-8
			.row
				.col-md-4
					= image_tag @user.photo.normal, class: "story_image"
				.col-md-8
					%h1 
						= @user.username
						= render 'follow_form'
						- if current_user.present? && current_user.id == @user.id
							=link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-mini'
					%h5= @user.location
					= render 'layouts/social_buttons', twitter_message: "#{@user.username}'s Smileku writer profile"
					%hr
					%p.italic= @user.bio
			%hr
			%h3 Recent Kus
			.row
				.col-md-10.col-md-offset-1
					- @kus.each do |k|
						.row.row10
							.col-md-2
								=link_to "#{image_tag k.story.large_cover.preview, class: "story_image"}".html_safe, ku_path(k)
							.col-md-10
								%h5= "#{link_to k.story.title, ku_path(k)} Ku ##{k.number_in_story}".html_safe
								%p= "#{k.comments.count} Comments | #{k.vote_count} Votes"
		.col-md-4
			%h4 Activity
			.row.row10
				.col-md-6.stats-box
					%h2= @user.stories.count
					%h4 stories
				.col-md-6.stats-box
					%h2= @user.kus.count
					%h4 kus
			.row
				.col-md-6.stats-box
					%h2= @user.is_followed.count
					%h4 followers
				.col-md-6.stats-box
					%h2= @user.is_follower.count
					%h4 following
			%hr
			= render 'followers_sidebar'