- meta :title => "#{@user.username}'s Smileku Profile", :description => "#{@user.bio}."
.container
	.row-fluid
		.span3
			.row-fluid
				=image_tag @user.photo.normal
				%h1
					= @user.username
					- if current_user.present? && current_user.id == @user.id
						=link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-mini'
				%h5= @user.location
			%hr.short-hr
			.row-fluid
				.span4.stats-box
					%h2= @user.stories.count
					%h4 stories
				.span4.stats-box
					%h2= @user.kus.count
					%h4 kus
		.span8.offset1
			.row-fluid
				%h3= "#{@user.username}'s Bio"
				.span10.offset1
					%p.italic= @user.bio
				- if @user.website?
					%br
					.span10.offset1
						%h5= "Website: #{link_to @user.website, @user.site_link, :target => '_blank'}".html_safe
			%hr
			%h3 Recent Kus
			.row-fluid
				.span10.offset1
					- @kus.each do |k|
						.row-fluid.row10
							.span2
								=link_to "#{image_tag k.story.large_cover.preview}".html_safe, ku_path(k)
							.span10
								%h5= "#{link_to k.story.title, ku_path(k)} Ku ##{k.number_in_story}".html_safe
								%p= "#{k.comments.count} Comments | #{k.vote_count} Votes"