.container
	.row-fluid
		.span6.front-left
			%h1.giant Smileku
			%br
			%h1 Short bursts of creativity <br/> to help you write more <br/> and grow as a writer
			%h4.pull-right= link_to "Learn more >", faq_path
		.front-right.span4.offset1
			- if logged_in?
				= link_to "Start a story", new_story_path, class: "btn btn-large btn-block"
			- else
				= link_to "Sign up now", registration_path, class: "btn btn-info btn-large btn-block"
				= link_to "Login", login_path, class: "btn btn-large btn-block"
	%hr
	.row-fluid
		#content-margin
			%h1 Stories being written
			.row-fluid
				- @stories.each do |story|
					.story
						= link_to image_tag("#{story.large_cover.preview}"), story_path(story)
						%p= link_to "#{story.truncated_title} by #{story.user.username}", story_path(story)
			%h1 Articles for writers
			.row-fluid
				- @posts.each do |post|
					.front-post
						= link_to image_tag("#{post.mrec}"), post_path(post)
			%h4= link_to "Read more articles >", posts_path
	%hr
	.row-fluid.center
		- if logged_in?
			= link_to "Start a story", new_story_path, class: "btn btn-large btn-info"
		- else
			%h1 Sound like fun?
			= link_to "Sign up now", registration_path, class: "btn btn-info btn-large"