- meta :title => "Smileku Recent Stories and Kus", :description => "The latest kus and stories written by Smileku writers."
%section.container
  .row
    .col-md-9
      .row
        .start_a_story{:onclick => "window.location='stories/new';", :style => "cursor: pointer;"}
          %h3 Are you a writer? Click here to start a story.
      .row
        %h2 Recent Kus
        - @kus.each do |k|
          .row
            .col-md-1
              %h5= link_to image_tag("#{k.cover_preview}", class: "story_image"), ku_path(k)
            .col-md-10.row10
              %p= "#{link_to k.strip_body.truncate(180), ku_path(k)} written #{time_ago_in_words(k.created_at)} ago".html_safe
          %hr.short-hr
      .row
        %h2 Recent Stories
        - @stories.each do |story|
          .story
            = link_to image_tag("#{story.large_cover.preview}", class: "story_image"), story_path(story)
            %p= link_to "#{story.truncated_title} by #{story.user.username}", story_path(story)
    .col-md-3
      = render 'layouts/sidebar'