%section.container-fluid
  .row-fluid
    .span9
      .row-fluid
        %ul.nav.nav-tabs
          %li.activities.active= link_to '<i class="icon-book"> Read</i>'.html_safe, '#'
          %li.activities= link_to '<i class="icon-pencil"> Write</i>'.html_safe, new_story_path
      .row-fluid
        %h2 Recent Kus
        - @kus.each do |k|
          .row-fluid
            .span1
              %h5= link_to image_tag("#{k.cover_preview}"), ku_path(k)
            .span10.row10
              %p= "#{link_to k.body.truncate(180), ku_path(k)} written #{time_ago_in_words(k.created_at)} ago".html_safe
          %hr.short-hr
      .row-fluid
        %h2 Recent Stories
        - @stories.each do |story|
          .story
            = link_to image_tag("#{story.large_cover.preview}"), story_path(story)
            %p= link_to "#{story.truncated_title} by #{story.user.username}", story_path(story)
    .span3
      = render 'layouts/sidebar'