%section.container
	.row-fluid
		.span4
			.row-fluid
				%h2= @story.title
			.row-fluid
				= image_tag @story.large_cover
				.well.row10= @description.html_safe
		.span7.offset1
			.row-fluid
				%h3= "#{@kus.count} Kus since #{@story.created_at.strftime('%B %Y')}"
				- @kus.each do |k|
					.row-fluid
						.span2
							%h5= "No. #{k.number_in_story}"
							%p= "by #{k.author_name}"
						.span10.row10
							%p= link_to k.body.truncate(170), ku_path(k)