.container
	.row-fluid
		.span8
			.row-fluid
				.span4
					= image_tag "/tmp/profile.jpg", align: 'middle', height: 250, width: 250
				.span8
					%h1 
						Bobby McBob
						=link_to 'Follow', '#', class: 'btn btn-info'
					%h5 San Francisco, CA
					%hr
					%p.italic Vix te zril nobis deleniti, prima inani id his. Delectus principes adipiscing an his, ne usu iudico utinam percipit. Cum ne brute latine alterum, ad has mazim solet necessitatibus. Ceteros periculis has ei, nec in cibo affert sadipscing, eum ponderum liberavisse voluptatibus ei. Te mea perpetua repudiandae, at dolorum probatus vim. Iudico oblique antiopam eam ex, tamquam legendos ex nec.
			%hr
			%h3 Recent Kus
			.row-fluid
				.span10.offset1
					- 8.times do
						.row.row10
							.span2
								=link_to "", nil do
									=image_tag "/tmp/#{['story1', 'story2', 'story3', 'story4'].sample}.jpg"
							.span10
								%h5= "#{link_to "Story Title", "#"} Ku #13".html_safe
								%p 5 Comments | 2 Votes
		.span4
			%h4 Activity
			.row-fluid.row10
				.span6.stats-box
					%h2 3
					%h4 stories
				.span6.stats-box
					%h2 23
					%h4 kus
			.row-fluid
				.span6.stats-box
					%h2 5
					%h4 followers
				.span6.stats-box
					%h2 15
					%h4 following
			%hr
			%h4= link_to 'Following', '#'
			.row-fluid
				- 8.times do
					.span3.no-space
						= link_to "", nil do
							%img(src="/tmp/#{['story1', 'story2', 'story3', 'story4'].sample}.jpg")
			%h4= link_to 'Followers', '#'
			.row-fluid
				- 8.times do
					.span3.no-space
						= link_to "", nil do
							%img(src="/tmp/#{['story1', 'story2', 'story3', 'story4'].sample}.jpg")
		/ .span8.offset1
		/ 	.row-fluid
		/ 		%h3 Bobby McBob's Bio
		/ 		.span10.offset1
		/ 		%br
		/ 		.span10.offset1
		/ 			%h5= "Website: #{link_to 'Example.com', '#'}".html_safe
		/ 	%hr