<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        = metamagic :title => "Smileku - Infinite Stories", :description => "A community for writers to come together and collaborate on stories."
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/messages'
              = yield
        %footer
          = render 'layouts/footer'
      / ! end of .container
    / ! end of #main
    - if Rails.env.production?
      = render 'layouts/ga'
    - if Rails.env.production? || Rails.env.staging?
      = render 'layouts/social_scripts'